@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html, body{
    height: 100%;
}


body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 14px;
	line-height:30px;
	color:#777;
	background:#0CF;
}

head{
    text-align: center;
}

.clear{
  clear: both;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* phone */

.phone{
  background-color: rgb(45, 189, 52);
  font-weight: bold;
  width: 150px;
  height: 35px;
  border-radius: 9px;
  padding: 3px;
  display: flex;
  float: right;
  margin-left: 5px;
}

.phone img{
  height: 25px;
  margin-top: 1px;
}

.phone p{
  color: #000;
  margin-left: 5px;
}

.email-header{
  background-color: rgb(201, 157, 12);
  font-weight: bold;
  width: 190px;
  height: 35px;
  border-radius: 9px;
  padding: 3px;
  display: flex;
  float: right;
}

.email-header img{
  height: 25px;
  margin-top: 1px;
}

.email-header p{
  color: #000;
  margin-left: 5px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: 1px #ccc solid; */
    height: 120px;
    background: rgb(55 119 229);
}

.logo{
    width: 160px;
    height: 120px;
}

.logo img{
    width: 70px;
    height: 80px;
    padding: 5px;
    margin-top: 25px;
}

.menu ul{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-top: 25px;
}

.menu a{
    display: inline-block;
    text-decoration: none;
}

.menu li {
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  font-size: 17px;
  margin: 5px;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(183,195,255,1) 33%, rgba(139,160,241,1) 82%);
  width: 90px;
  height: 95px;
  padding: 10px;
  border-radius: 5px;
  border-bottom: none;
  box-shadow: 3px 3px 3px black;
  transition: all 0.5s ease;
}


.menu li:hover {
  background-color: #0CF;
  outline: 2px solid;
  animation: glow 2s infinite;
}

@keyframes glow {
  0% {outline-color: #ff0000;}
  30% {outline-color: #00ff00;}
  60% {outline-color: #0000ff;}
  100% {outline-color: #ff0000;}
}

.btn-chamada{
  text-align: center;
  padding: 5px;
}

.btn-chamada button{
  width: 250px;
  height: 45px;
  background-color: rgb(162, 0, 255);
  color: white;
  font-size: 20px;
  border: none;
  font-weight: bold;
  border-radius: 9px;
  cursor: pointer;
}

.btn-chamada button:hover{
  background-color: rgb(75, 0, 119);
}

/* carrosel */

.carousel {
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
  }

  .carousel input{
    display: none;
  }
  
  .slides {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -1px;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
  }
  
  .navigation {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
  }
  
  .navigation label {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
  }
  
  #slide1:checked ~ .slides .slide:nth-child(1),
  #slide2:checked ~ .slides .slide:nth-child(2),
  #slide3:checked ~ .slides .slide:nth-child(3) {
    display: block;
  }

  .contato-inicio{
    display: flex;
    max-width: 1200px;
    margin: auto;
    background-color: yellowgreen;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 1px black solid;
  }

  /* section corpo e mosaico*/

  .corpo{
    text-align: center;
    border: 1px black solid;
    max-width: 1200px;
    margin: auto;
    background-color: black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }

  .corpo p{
    margin: auto;
    max-width: 600px;
    color: white;
    font-size: 15px;
  }

  .corpo img {
    height: 50px;
    margin: 15px;
    transition: all 0.5s ease;
}

.corpo img:hover {
    box-shadow: 0 0 5px #0000ff, 
                0 0 25px #0000ff, 
                0 0 50px #0000ff, 
                0 0 100px #0000ff;
    animation: imgGlow 2s infinite;
}

@keyframes imgGlow {
    0% {box-shadow: 0 0 5px #0000ff, 0 0 25px #0000ff, 0 0 50px #0000ff, 0 0 100px #0000ff;}
    50% {box-shadow: 0 0 10px #add8e6, 0 0 30px #add8e6, 0 0 60px #add8e6, 0 0 150px #add8e6;}
    100% {box-shadow: 0 0 5px #0000ff, 0 0 25px #0000ff, 0 0 50px #0000ff, 0 0 100px #0000ff;}
}



.mosaicos{
  border-radius: 5px;
}

.flex-mosaico{
    display: flex;
}

.item-1-mosaico{
    background-position: center;
    background-size: cover;
    width: 60%;
}

.item-2-mosaico{
    background-color: rgb(63 127 126);
    padding: 60px 40px;
    width: 40%;
}

.item-2-mosaico p{
    color: white;
    margin-bottom: 15px;
}

/* formulario de contato */

.container-form {
	max-width:400px;
	width:100%;
	margin: 0 7px auto auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="number"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
  padding: 25px;
  margin: 5px 0;
  border-radius: 10px;
  text-align: center;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

.captcha{
  width: 140px;
  margin: auto;
}


fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="number"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="number"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
  border-radius: 5px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.demo{
  max-width: 1200px;
  display: flex;
  margin: auto;
}

.demo img{
  width: 100%;
}

/* estilos exemplos */

.section-examples{
  display: flex;
  padding: 20px;
}

.exemplos-container{
  display: inline;
  border: 2px rgb(0, 73, 207) solid;
  margin: 5px;
  padding: 2px;
  border-radius: 6px;
}

.exemplos{
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  border: 3px #ccc solid;
  height: 310px;
  width: 300px;
  border-radius: 9px;
  background-color: cornsilk;
}

.exemplos img{
  width: 250px;
  height: 170px;
  border: 2px #c16666 solid;
  border-radius: 5px;
}

.exemplos p{
  margin-bottom: 5px;
}

.exemplos a{
  min-width: 250px;
  border: 2px #ccc solid;
  padding: 10px;
  margin-top: 10px;
  background-color: deepskyblue;
  text-decoration: none;
  border-radius: 9px;
  color: white;
  font-weight: bold;
}

.exemplos a:hover {
  background-color: rgb(55, 101, 252);
}

.img-exemplos{
  text-align: center;
}

.img-exemplos img{
  width: 300px;
  height: 900px;
  margin-top: 5px;
  border: 2px rgb(13, 119, 133) solid;
  border-radius: 5px;
}

/* contato */

.secao-contato{
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
}

.forms-contato{
   /* display: inline-block; */
    width: 1280px;
    margin: auto;
    text-align: center;
}

.whatsapp{
  display: inline-block;
  text-align: center;
  width: 1200px;
  border-radius: 10px;
  background-color: darkslategrey;
  color: white;
  margin-bottom: 5px;
}

.whatsapp img{
  margin-top: 10px;
  height: 150px;
  border-radius: 20px;
}

.entrar-contato{
  text-decoration: none;
  font-size: 20px;
  color: white;
  background-color: #5c82ff;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.email{
  width: 1200px;
  margin: auto;
  background-color: #fdce87;
  border-radius: 10px;
}

.email p{
  font-weight: bold;
}

.email h3{
  font-size: 20px;
}

/* back to top */

.back-to-top {
  background-color: #38322e;
  border-radius: 65px;
  bottom: 14px;
  box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);
  color: #d9a000;
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 22px;
  width: 40px;
  z-index: 3;
  margin-right: 70px;
&::after {
    content: '▲';
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 10px;
  }
}


/* rodape */

footer{
  width: 100%;
  height: 90px;
  background-color: rgb(55 119 229);
  margin-top: 10px;
  margin-bottom: 10px;
}

.copy{
  text-align: center;
  border-top: 1px black solid;
}

.copy p{
  color: white;
}

/* hamburguer */

.hamburger {
    display: none;
    margin-bottom: 8px;
    margin-left: 70%;
}

.hamburger p{
  margin-top: -37px;
  margin-left: 9px;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

/* responsividade */
@media screen and (max-width: 600px) {
  header{
    flex-direction: column;
    height: auto;
  }

  .hamburger {
    display: block;
    background: none;
    border: none;
    position: relative;
    width: 30px;
    height: 22px;
  }
  
  .hamburger:before, .hamburger:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    transition: all 0.3s;
  }
  
  .hamburger:before {
    top: 0;
  }
  
  .hamburger:after {
    bottom: 0;
  }
  
  .hamburger span {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000;
    top: 50%;
    transition: all 0.3s;
  }
  
  .hamburger.aberto:before {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.aberto:after {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .hamburger.aberto span {
    opacity: 0;
  }
  

  .logo, .menu ul {
    width: 100%;
  }

    .menu ul {
    display: none;
  }

  .carousel {
    height: 200px;
  }

  .slide img {
    height: 200px;
  }

  .contato-inicio img{
    display: none;
  }

  .corpo p{
    max-width: 100%;
  }

  .flex-mosaico{
    flex-direction: column;
  }

  .item-1-mosaico{
    display: block;
    height: 200px; 
  }

  .item-1-mosaico, .item-2-mosaico{
    width: 100%;
    padding: 10px 10px;
  }

  .item-2-mosaico{
    border: 1px #ccc solid;
    padding: 10px;
  }

  .section-examples {
    display: inline;
  }

  .exemplos-container{
    display: inline;
    border: none;
  }

  .exemplos{
    margin-bottom: 10px;
  }

  .forms-contato{
    display: inline;
  }

  .contato-inicio{
    display: block;
  }

  .whatsapp{
    margin: auto;
    border: 2px #ccc solid;
    border: 3px #ccc solid;
    max-width: 250px;
    margin-bottom: 5px;
  }

  .email{
    max-width: 250px;
  }

  .demo{
    max-width: 100%;
  }

  .demo img{
      max-width: 100%;
      cursor: pointer;
  }
}
